# Server Configuration
PORT=3000
API_PREFIX=api
NODE_ENV=development

# Data Storage Configuration
DATA_PATH=/data              # SQLite数据存储路径
DB_FORCE_SYNC=false         # 是否强制同步数据库结构

# Database Configuration - MySQL
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=your_password
DB_DATABASE=clsswjz

# Database Configuration - SQLite
# DB_TYPE=sqlite
# DB_DATABASE=clsswjz.sqlite

# JWT Configuration
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=720h 